{
  "extends": [ "axway/env-node", "axway/+mocha"],
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "script"
  },
  "rules": {
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-implicit-globals": "off"
  },
  "overrides": [
    {
      "files": [ "dangerfile.js" ],
      "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
      },
    },
  ]
}
